* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Questrial', sans-serif;
  box-sizing: border-box;
}

body {
  margin: auto;
}

/* Container */

.container {
  width: 100%;
  height: 100%;
  background-color: #323232;
  z-index: 1;
}

/* Header */

header {
  width: 100%;
  height: 90px;
  display: flex;
  justify-content: space-between;
  padding: 0 100px;
  background-color: #161e2a;
  top: 0;
  left: 0;
  z-index: 10;
  align-items: center;
  position: fixed;
}

header .logo {
  display: flex;
  align-items: center;
  width: 200px;
  justify-content: space-between;
}

.logo .logo__icon img {
  width: 50px;
  height: 50px;
  border-radius: 10px;
}

.logo .logo__name p {
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 600;
  color: #fff;
}

.container .categories {
  display: flex;
  width: auto;
  align-items: center;
  justify-content: space-between;
}

.categories .categories__menu ul {
  text-transform: uppercase;
}

.categories__menu ul li {
  margin-right: 20px;
  float: left;
  color: #fff;
  position: relative;
}

.categories__menu ul li a {
  font-size: 14px;
}

.categories__menu ul li>ul {
  display: none;
  position: absolute;
  width: 170px;
  height: auto;
  padding: 35px 10px 10px 10px;
  left: -40px;
  background-color: #161e2a;
  animation: opacity 0.5s ease-in-out;
  z-index: 1;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
}

.categories__menu ul li ul li {
  margin: 4px 0 10px 0;
}

.categories__menu ul li>ul li a {
  font-size: 14px;
  text-transform: none;
}

.categories__menu ul li:hover ul {
  display: block;
}

@keyframes opacity {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.categories__menu ul li a {
  text-decoration: none;
  color: white;
  font-size: 13px;
}

.item_02 span i {
  font-size: 10px;
}

.categories__menu ul li a:hover {
  color: rgba(179, 73, 250, 0.7);
}

.categories__menu ul .item_05 {
  z-index: 2;
}

.categories__menu ul .item_05 a {
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 10px;
  color: #fff;
  border-radius: 5px;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.4);
}

.categories__menu ul .item_05 a:hover {
  box-shadow: none;
  transition: all 0.3s ease-in-out;
}

.categories .categories__login {
  display: flex;
  width: 80px;
  justify-content: space-between;
  align-items: center;
  border: 1px solid rgba(255, 255, 255, 0.4);
  padding: 5px;
  border-radius: 5px;
  margin-left: 20px;
}

.categories__login .login__icon i {
  font-size: 17px;
  color: #fff;
}

.categories__login button {
  text-transform: uppercase;
  outline: none;
  border: none;
  background: none;
  font-size: 13px;
  color: #fff;
}

.categories__login button:hover {
  color: #adadad;
  cursor: pointer;
}

.contact__icon {
  display: flex;
  width: 70px;
  justify-content: space-between;
}

.contact__icon i {
  font-size: 17px;
  color: #fff;
  cursor: pointer;
}

.categories__notification {
  margin-left: 20px;
  width: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.categories__notification i {
  color: #fff;
  font-size: 20px;
}

.categories__notification span {
  position: relative;
  background-color: blue;
  font-size: 10px;
  padding: 1px 3px;
  border-radius: 10px;
  font-weight: 600;
  color: #fff;
  top: -10px;
  left: -35px;
}

.banner {
  margin-top: 90px;
  padding: 20px 200px;
}

.banner__podcast {
  display: flex;
  align-items: center;
}

.podcast_img img {
  width: 280px;
  height: 280px;
}

.podcast_info {
  width: auto;
  padding: 0 0 0 40px;
  color: #fff;
}

.podcast_info span {
  font-size: 50px;
  font-family: 'Times New Roman', Times, serif;
}

.podcast_info p {
  font-size: 18px;
  padding: 20px 0 20px 0;
}

.podcast_info i {
  font-size: 20px;
}

.banner__des p {
  font-family: 'Times New Roman', Times, serif;
}

.banner__des, #more {
  padding: 20px 0;
  color: #fff;
  font-size: 20px;
  text-align: justify;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.5;
}

#myBtn {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  text-decoration: underline;
}

#myBtn:hover {
  color: rgb(219, 71, 71);
  text-decoration: none;
}

#more {
  display: none;
}

.searchPod {
  padding: 20px 200px;
}

.searchPod i {
  color: #fff;
  font-size: 17px;
  position: absolute;
}

.tab_search {
  display: flex;
  align-items: center;
  position: relative;
}

.searchPod input {
  width: 300px;
  height: 30px;
  background: none;
  border: none;
  font-size: 14px;
  outline: none;
  color: #fff;
  padding: 0 0 0 24px;
}

.searchPod input:focus {
  border: 2px solid rgba(255, 255, 255, 0.6);
}

.searchPod input::placeholder {
  color: #ccc;
  font-size: 14px;
}

.podcast__list {
  width: 100%;
  padding: 0 200px 50px 200px;
  display: grid;
  grid-template-columns: auto;
}

.podcast__list .pod {
  display: none;
}

.podcast_item {
  display: flex;
  padding: 0px 0 0px 0;
  justify-content: space-between;
  text-decoration: none;
  color: #fff;
  position: relative;
}

.podcast_item:hover .item_ava {
  opacity: 0.5;
}

.podcast_item:hover .pod_title {
  opacity: 0.5;
}

.podcast_item:hover i {
  visibility: visible;
}

.item_ava img {
  width: 135px;
  height: 135px;
}

.podcast_item>i {
  position: absolute;
  font-size: 50px;
  background-color: #111;
  border-radius: 50%;
  top: 40px;
  left: 40px;
  visibility: hidden;
  opacity: 0.9;
}

.item_pod {
  padding: 0 0 0 30px;
}

.item_pod .pod_title {
  font-size: 28px;
  font-family: 'Times New Roman', Times, serif;
}

.date_realtime {
  padding: 15px 0;
}

.date_realtime span {
  font-family: 'Times New Roman', Times, serif;
  opacity: 0.5;
  font-size: 16px;
}

.podcast_des {
  font-family: 'Times New Roman', Times, serif;
  font-size: 17px;
  width: 100%;
  text-align: justify;
  max-height: 50px;
  overflow: hidden;
  line-height: 1.5;
}

.load__more {
  width: 100%;
  display: flex;
  justify-content: center;
}

.load__more button {
  padding: 15px 20px;
  font-weight: 600;
  font-size: 16px;
  background: none;
  border: 2px solid rgba(233, 203, 105, 0.603);
  color: rgba(233, 203, 105, 0.603);
  border-radius: 15px;
  cursor: pointer;
}

.footer {
  width: 100%;
  height: 300px;
}

.footer__content {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: burlywood; */
  background-color: #323232;
  height: 270px;
}

.contact__ft {
  text-align: center;
}

.contact__ft h3 {
  color: #fff;
  position: relative;
  top: -30px;
  font-size: 20px;
}

.contact__ft input {
  padding: 10px 30px;
  width: 400px;
  background: none;
  border: 2px solid #fff;
  outline: none;
  color: #fff;
  border-radius: 5px;
}

.contact__ft input::placeholder {
  color: #fff;
}

.contact__ft button {
  border: none;
  outline: none;
  padding: 10px 30px;
  position: relative;
  top: 10px;
  opacity: 0.9;
  font-weight: 600;
  border-radius: 5px;
}

.copyright__footer {
  text-align: center;
  background-color: #111;
  height: 30px;
  line-height: 30px;
  color: #fff;
}