* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Questrial', sans-serif;
}

body {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #f0f0f0;
}

.sign-in {
  width: 480px;
  margin: auto;
  height: auto;
  background-color: #fff;
  position: relative;
  margin: 30px;
  border-radius: 15px;
}

.signin__title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.signin__title .title_text {
  font-size: 12px;
  display: flex;
  align-items: center;
}

.signin__title .title_text i{
  font-size: 17px;
  margin-right: 20px;
}

.btn_close {
  padding: 2px;
  opacity: 0.9;
}

.btn_close i {
  font-size: 24px;
  color: black;
}

.form__input {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 25px;
}

.form__input input {
  width: 100%;
  height: 35px;
  outline: none;
  border: 1px solid rgba(4, 45, 107, 0.3);
  border-radius: 7px;
  padding: 0 10px;
  font-size: 17px;
}
.input_control{
  width: 100%;
  height: auto;
  margin: 15px 0 25px 0;
  position: relative;
}
.input_control i{
  position: absolute;
  right: 10px;
  top: 12px;
  visibility: hidden;
}
.input_control.success i.fa-check-circle {
	color: #2ecc71;
	visibility: visible;
}

.input_control.error i.fa-exclamation-circle {
	color: #e74c3c;
	visibility: visible;
}
.input_control small {
	color: #e74c3c;
	visibility: hidden;
  font-size: 13px;
  position: absolute;
  top: 40px;
  left: 5px;
}

.input_control.error small {
	visibility: visible;
}

.name_check {
  padding: 10px 0 5px 0;
  font-size: 15px;
}


.sign_bar {
  padding: 5px 0;
}

.bar {
  height: 1px;
  background-color: rgba(0, 0, 0, 0.1);
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.agree{
  padding: 10px 0;
  font-size: 15px;
  opacity: 0.95;
}
.agree a{
  text-decoration: none;
}

.btn_register{
  padding: 10px 0 20px 0;
}

.btn_register button{
  width: 100%;
  padding: 11px 0;
  background-color: #0768ea;
  color: #fff;
  font-weight: 600;
  border: none;
  outline: none;
  border-radius: 7px;
  font-size: 15px;
  cursor: pointer;
}