* {
  margin: 0;
  padding: 0;
  list-style: none;
  scroll-behavior: smooth;
  font-family: 'Questrial', sans-serif;
  box-sizing: border-box;
}

body {
  margin: auto;
}

/* Container */

.container {
  width: 100%;
  height: 100%;
  background-color: #323232;
  z-index: 1;
}

.banner__podcast {
  padding: 20px 0;
}

.episode {
  position: absolute;
  left: 200px;
  top: 100px;
}

.episode a {
  color: #fff;
  text-decoration: none;
}

.episode:hover a {
  text-decoration: underline;
}

.podcast_info {
  width: auto;
  padding: 0 0 0 50px;
  color: #fff;
}

.podcast_img img {
  width: 300px;
  height: 300px;
}

.podcast_info i {
  font-size: 20px;
  color: #111;
  padding: 10px 0 0 0;
}

.podcast_audio {
  width: 100%;
  padding: 10px 200px;
}

.control {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 18px 0 8px 0;
}

.control .btn {
  color: #FFF;
  cursor: pointer;
  padding: 15px 23px;
}

.control .btn.active {
  color: orange;
}

.control .btn-toggle-play {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  font-size: 24px;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-color);
}

.progress {
  width: 100%;
  -webkit-appearance: none;
  height: 4px;
  background: #606060;
  outline: none;
  -webkit-transition: 0.2s;
  transition: opacity 0.2s;
  overflow: hidden;
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  margin: 0 15px;
}

.progress::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 4px;
  height: 8px;
  cursor: pointer;
  border: 5px solid #8eade7;
  box-shadow: -450px 0 0 450px #fff;
}

.left, .right {
  color: #fff;
  font-size: 15px;
}

.player .icon-pause {
  display: none;
}

.player.playing .icon-pause {
  display: inline-block;
}

.player.playing .icon-play {
  display: none;
}

.icon-play, .icon-pause {
  font-size: 20px;
  padding: 20px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 50%;
}

.btn-download i {
  font-size: 25px;
}

.btn-repeat i {
  font-size: 25px;
}

.btn-next {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-next span {
  position: absolute;
  font-size: 9px;
}

.btn-prev {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-prev span {
  position: absolute;
  font-size: 9px;
}

.btn-next i {
  font-size: 30px;
}

.btn-prev i {
  font-size: 30px;
}

.btn_event {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 200px;
}

.btn_event a {
  color: #fff;
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  text-decoration: none;
}

.btn_event a:hover {
  opacity: 0.7;
}

.pod_content {
  width: 600px;
  height: auto;
  color: #fff;
  margin: 0 auto;
}

.pod_curentime {
  padding: 50px 0 15px 0;
  opacity: 0.6;
}

.pod_curentime span {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
}

.pod_des {
  padding: 0 0 100px 0;
}

.pod_des p {
  font-size: 20px;
  font-family: 'Times New Roman', Times, serif;
  line-height: 1.8;
  text-align: justify;
}

.podcast__comment {
  padding: 15px 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.podcast_text {
  width: 100%;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.podcast_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
}

.podcast_btn button {
  height: auto;
  width: 100%;
  text-align: start;
  border: none;
  padding: 20px 0 20px 10px;
  font-size: 14px;
  background-color: #323232;
  cursor: pointer;
  color: #fff;
}

.pod_commnent {
  width: 100%;
}

.pod_commnent textarea {
  height: auto;
  width: 100%;
  background-color: #323232;
  border: none;
  outline: none;
  padding: 15px 15px 10px 15px;
  font-size: 15px;
  display: none;
  overflow-y: hidden;
  resize: none;
  letter-spacing: 1px;
  color: #fff;
}

.pod_commnent textarea::placeholder {
  color: #fff;
}

.pod_event {
  width: 100%;
  height: auto;
  padding: 10px 0 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  display: none;
}

.event {
  display: flex;
}

.post_comment {
  background-color: #999696;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
}

.post_comment.comments {
  background-color: rgb(85, 126, 3);
  cursor: pointer;
}

input[type=file] {
  cursor: pointer;
  width: 30px;
  height: 30px;
  overflow: hidden;
}

#camera::before {
  content: '\f1c5';
  width: 30px;
  height: 30px;
  font-size: 18px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-family: "Font Awesome 5 Free", FontAwesome;
}

#camera::-webkit-file-upload-button {
  visibility: hidden;
}

#gif::before {
  content: '\f599';
  width: 30px;
  height: 34px;
  font-size: 18px;
  display: inline-block;
  color: #fff;
  text-align: center;
  font-family: "Font Awesome 5 Free", FontAwesome;
}

#gif::-webkit-file-upload-button {
  visibility: hidden;
}

.btn_cm {
  padding-right: 10px;
}

.btn_cm button {
  padding: 8px 15px;
}

.btn_cm button:first-child {
  background: none;
  border: none;
  outline: none;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
}

.info_cm>div {
  display: flex;
}

.info .info__ava, .info_cm .info__ava {
  width: 35px;
  height: 35px;
  margin-right: 10px;
}

.info__ava img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.realtime {
  opacity: 0.8;
  font-size: 13px;
  padding: 0 10px 0 10px;
}

.realtime_cm {
  font-size: 11px;
  padding: 0 10px 0 0;
}

.count__comment {
  width: 100%;
  height: auto;
  padding: 0px 10px 20px 10px;
  color: #fff;
}

.content_cm {
  width: 100%;
  height: auto;
  padding: 15px 0 0 40px;
}

.view_like {
  display: flex;
  width: 100%;
  padding: 15px 0 0 40px;
  justify-content: space-between;
  align-items: center;
}

.like_rep {
  display: flex;
  width: 150px;
  justify-content: space-between;
  align-items: center;
}

.people_liked {
  display: flex;
  align-items: center;
}

.count__feedback {
  margin: 0 0 0 40px;
}

.feedback_cm {
  width: auto;
  height: auto;
  margin: 20px 0 20px 40px;
  font-size: 18px;
  text-align: justify;
  display: flex;
  display: none;
  border-left: 1px solid rgba(255, 255, 255, 0.6);
}

.feedback__text {
  width: 100%;
  height: auto;
  border: 1px solid rgba(255, 255, 255, 0.8);
}

.feedback_btn {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
}

.feedback_btn button {
  height: auto;
  width: 100%;
  text-align: start;
  border: none;
  padding: 20px 0 20px 10px;
  font-size: 14px;
  background-color: #fff;
  cursor: pointer;
}

.input_feedback {
  width: 100%;
}

.input_feedback .feedbackText {
  height: auto;
  width: 100%;
  background-color: #323232;
  border: none;
  outline: none;
  padding: 15px 15px 10px 15px;
  font-size: 15px;
  overflow-y: hidden;
  resize: none;
  letter-spacing: 1px;
  color: #fff;
}

.feedback_event {
  width: 100%;
  height: auto;
  padding: 10px 0 5px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.post_feedback {
  background-color: #6b6b6b;
  color: #fff;
  border: none;
  outline: none;
}

.post_feedback.feedbacks {
  background-color: rgb(85, 126, 3);
  cursor: pointer;
}

.feedback_cm.feed {
  display: flex;
}

.feedback.clfeedback {
  display: none;
}

.rep {
  cursor: pointer;
}
.repcm{
  cursor: pointer;
}